.navigatorLink,
.navigatorSelectedLink {
  padding: 0.8em;
  border-radius: 1em;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.navigatorLink {
  background-color: transparent;
  color: #ffffff;
}
.navigatorLink:hover {
  box-shadow: 0 0 0.3em #ffffff;
}

.navigatorSelectedLink {
  background-color: #ffffff;
  color: #21252e;
}

.navigatorSelectedLink:hover {
  box-shadow: 0 0 0.3em #1789be;
}

.navigatorItem {
  list-style: none;
}
