.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 80%;
    overflow: hidden;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    padding: 0.7em;
}
