
.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    padding: 0.7em;
}


.one {
    background-color: #3362f4;
}