.headerContainer {
    background-color: #100b31;
    text-align: center;
    color: white;
}

.container {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}

.navContainer {
    --state-close: scale(0);
    --state-hamburger: scale(1);
    --state-menu: translate(-100%);

    padding: 3em 0 0 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.navContainer:target {
    --state-close: scale(1);
    --state-hamburger: scale(0);
    --state-menu: translate(0);
}

.navLogo {
    width: 10em;
    grid-column: span 2;
    z-index: 1;
}

.navHamburger {
    transition: transform 0.2s ease-in;
    transform: var(--state-hamburger);
}

.navClose {
    z-index: 1;
    transition: transform 0.2s ease-out;
    transform: var(--state-close);
}

.navHamburger,
.navClose {
    cursor: pointer;
    grid-column: 3/3;
    grid-row: 1/2;
    justify-self: end;
}

.navLinks {
    z-index: 1;
    background-color: #100b31;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    transform: var(--state-menu);
    transition: 0.3s transform;
}

.navText {
    font-weight: 200;
    grid-column: 2/2;
    grid-row: 2/2;
    padding: 1.5em;
}

.navIcon {
    width: 2.5em;
}

@media (min-width: 1170px) {
    .navContainer {
        --state-hamburger: scale(0);
        --state-menu: translate(0);
        padding: 3em 0;
    }

    .navContainer:target {
        --state-close: scale(0);
        --state-hamburger: scale(0);
        --state-menu: translate(0);
    }

    .navLinks {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
        transform: unset;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .navLogo {
        grid-column: span 1;
        width: 12em;
    }
}
